<div class="relative h-full">
  <p-card class="h-full overflow-hidden relative">
    <div
      class="content-wrapper h-full"
      [class.blur-sm]="isLoading"
      [class.bg-gray-100]="isLoading"
    >
      <router-outlet></router-outlet>
    </div>

    <div
      *ngIf="isLoading"
      class="absolute inset-0 flex items-center justify-center z-50 bg-black bg-opacity-10"
    >
      <div class="card flex justify-center">
        <p-progress-spinner
          strokeWidth="8"
          fill="transparent"
          animationDuration=".5s"
          [style]="{ width: '50px', height: '50px' }"
        />
      </div>
    </div>
  </p-card>
</div>
