<div class="flex flex-col min-h-screen w-full p-10 box-borders">
  <div class="layout-container flex gap-y-10 flex-col h-screend">
    <p-toast position="top-right"></p-toast>

    <cv-nav-bar
      [isNavBarVisible]="isDrawerVisible()"
      (isNavBarVisibleChange)="onDrawerVisibleChange($event)"
      (toastEvent)="showToast($event)"
    ></cv-nav-bar>

    <div class="flex h-full gap-x-10">
      <cv-description-template></cv-description-template>

      <cv-page-template></cv-page-template>
    </div>
    <p-drawer
      [visible]="isDrawerVisible()"
      (visibleChange)="onDrawerVisibleChange($event)"
      position="left"
      [modal]="true"
      [showCloseIcon]="true"
      [dismissible]="true"
      [style]="{width: '300px'}"
    >
      <ng-template pTemplate="header">
        <h3>Navigation Menu</h3>
      </ng-template>
      <ng-template pTemplate="content">
        <p-panelMenu
          [model]="navBarComponent.items"
          [multiple]="false"
        ></p-panelMenu>
      </ng-template>
    </p-drawer>
  </div>
</div>
