<p-card class="card flex justify-between items-center p-4">
  <!-- Левый блок -->
  <div class="flex gap-x-10 items-center">
    <p-button
      (click)="isNavBarVisible.set(!isNavBarVisible())"
      badgeSeverity="info"
      [raised]="true"
      size="large"
      severity="contrast"
      class="flex items-center"
    >
      <i
        [class]="isNavBarVisible() ? 'pi pi-times mr-2' : 'pi pi-bars mr-2'"
      ></i>
      Navigation bar
    </p-button>
    <p-toggleswitch
      [ngModel]="themeService.isDarkMode"
      (ngModelChange)="themeService.setTheme($event)"
      class="ml-4"
    >
      <ng-template #handle let-checked="checked">
        <i [ngClass]="['text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
      </ng-template>
    </p-toggleswitch>
  </div>

  <!-- Правый блок -->
  <div class="flex gap-x-4 items-center">
    <p-button
      (click)="logout()"
      label="Exit"
      icon="pi pi-sign-out"
      severity="danger"
      [text]="true"
      [raised]="true"
    ></p-button>

    @if (isAuthenticated()) {
    <p-avatar
      [image]="
        themeService.isDarkMode
          ? 'assets/imgs/profile-i.cherkas-dm.jpg'
          : 'assets/imgs/profile-i.cherkas-wm.jpg'
      "
      size="xlarge"
      shape="circle"
    />
    } @else {
    <p-avatar label="G" size="xlarge" shape="circle" />
    }
  </div>
</p-card>
