@use "sass:map";
@use "variables" as colors;

.dark-mode {
  --surface-a: #{map.get(colors.$dark-colors, surface-a)};
  --surface-b: #{map.get(colors.$dark-colors, surface-b)};
  --surface-c: #{map.get(colors.$dark-colors, surface-c)};
  --surface-d: #{map.get(colors.$dark-colors, surface-d)};
  --surface-e: #{map.get(colors.$dark-colors, surface-e)};
  --surface-f: #{map.get(colors.$dark-colors, surface-f)};
  --text-color: #{map.get(colors.$dark-colors, text-primary)};
  --text-color-secondary: #{map.get(colors.$dark-colors, text-secondary)};
  --primary-color: #{map.get(colors.$dark-colors, primary)};
  --primary-color-text: #{map.get(colors.$dark-colors, primary-text)};
  --error-color: #{map.get(colors.$dark-colors, error)};
  --warning-color: #{map.get(colors.$dark-colors, warning)};
  --success-color: #{map.get(colors.$dark-colors, success)};
  --info-color: #{map.get(colors.$dark-colors, info)};

  --surface-ground: var(--surface-a);
  --surface-card: #ffffff;
  --surface-border: var(--surface-d);

  background-color: var(--surface-a);
  color: var(--text-color);

  .p-panel {
    background-color: var(--surface-a);

    &-content {
      background-color: var(--surface-a);
    }
  }

  .p-card {
    background-color: var(--surface-card) !important;
    color: #333 !important;
    border-color: var(--surface-border);
    padding: 20px !important;
    border-radius: 20px;

    * {
      color: #333 !important;
    }

    &-title {
      color: #222 !important;
      font-weight: 600;
    }

    &-body,
    &-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  .menu-toggle {
    background-color: var(--primary-color) !important;
    color: var(--primary-color-text) !important;
  }

  .p-panelmenu {
    &-header-link {
      background: var(--surface-c);
      color: var(--text-color);
      border-color: var(--surface-border);
    }

    &-content {
      background: var(--surface-b);
      border-color: var(--surface-border);

      .p-menuitem-link {
        color: var(--text-color-secondary);

        &:hover {
          background: var(--surface-f);
        }
      }
    }
  }

  .p-drawer {
    &-header {
      background: #{map.get(colors.$dark-colors, surface-c)};
      color: #{map.get(colors.$dark-colors, text-secondary)};
    }

    &-content {
      background: #{map.get(colors.$dark-colors, surface-c)};

      a {
        color: #{map.get(colors.$dark-colors, text-secondary)};
      }
    }
  }
}
