// _mixins.scss
@use "sass:map";
@use "variables" as color; // Note: Using namespace instead of *

@mixin respond-to($breakpoint) {
  @if map.has-key(color.$breakpoints, $breakpoint) {
    @media (min-width: map.get(color.$breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in $breakpoints map";
  }
}

@mixin dark-mode {
  .dark-mode & {
    @content;
  }

  @media (prefers-color-scheme: dark) {
    &:not(.light-mode) {
      @content;
    }
  }
}

@mixin card-styles {
  background-color: white;
  color: #333;
  border-color: var(--surface-border);
  padding: 20px;
  border-radius: 20px;

  * {
    color: #333;
  }
}
