@use "variables" as size;
@use "mixins" as mixin;

body {
  @include mixin.respond-to(xs) {
    font-size: 14px;
  }

  @include mixin.respond-to(sm) {
    font-size: 15px;
  }

  @include mixin.respond-to(md) {
    font-size: 16px;
  }

  @include mixin.respond-to(lg) {
    font-size: 17px;
  }

  @include mixin.respond-to(xl) {
    font-size: 18px;
  }
}
